@font-face {  
    src: url('./fonts/insane.TTF'); 
    font-family: joe;
} 

* {
    background-color: white;
}
.joediv {
    margin-left: 8px;
    margin-bottom: 40px;
    font-family: joe;
}

.joetitle {
    font-family: joe !important;
    font-size: larger;
    font-weight: bolder;
    border: none;
    background: none;
    cursor: pointer;
}

.joetitle2 {
    font-family: joe !important;
    font-size: 42px;
}

.buttongame {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: joe;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px black;
    border-radius: 3px;
}

.buttongame:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: joe;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px rgb(90, 90, 90);
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
}

.buttongame:active {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: joe;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px rgb(90, 90, 90);
    border-radius: 3px;
    background-color: rgb(148, 148, 148);
}

.roundy {
    border: solid 10px rgb(0, 0, 0);
    border-image: url(./assets/border.svg) 24;
    border-image-repeat: round;
}

tr, td, th {
    padding: 10px 24px;
}

h2 {
    font-family: joe;
    display: table;
    border: solid 10px rgb(0, 0, 0);
    /*border-radius: 3px;*/
    padding: 4px 40px;
    border-image: url(./assets/border.svg) 24;
    border-image-repeat: round;
}

table {
    font-family: joe;
}

#clockui {
    border: solid 6px rgb(0, 0, 0);
    border-image: url(./assets/border.svg) 24;
    border-image-repeat: round;
    padding: 2px 8px;
    align-content: center;
}