@font-face {  
    src: url('./fonts/insane.TTF'); 
    font-family: joe;
} 

*body {
    margin: 0;
    padding: 0;
}
.joediv {
    margin-left: 8px;
    margin-bottom: 40px;
    font-family: joe;

}

.joetitle {
    font-family: joe !important;
    font-size: larger;
    border: none;
    background: none;
    cursor: pointer;
}

.joetitle2 {
    font-family: joe !important;
    font-size: 42px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: joe;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px black;
    border-radius: 3px;
}

button:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: joe;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px rgb(90, 90, 90);
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
}

button:active {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: joe;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px rgb(90, 90, 90);
    border-radius: 3px;
    background-color: rgb(148, 148, 148);
}

.roundy {
    border-radius: 50%;
}

tr, td, th {
    padding: 10px 24px;
}